/* Colours */
$dark-blue: #1f4066!default;
$red: #c81f3a!default;
$white: #fff!default;
$grey_88: #888888!default;
$grey_e6: #e6e6e6!default;
$grey_e2: #e2e2e2!default;
$grey_f6: #f6f6f6!default;
$grey_dd: #ddd!default;
$grey_cb: #cbcbcb!default;
$black: #000!default;

/* Font */
$cg-sans-serif: 'Montserrat', Arial, sans-serif;
$cg-arial: Arial;
$font-reg: 400;
$font-semi-bold: 600;
$font-bold: 700;

/* Spacing */
$spc: 15px!default;
$spc-d: 30px!default;

/* Container */
$container-width: 1380px!default;

/* Border */
$default-border: 1px solid $grey_dd;

/* Border radius */
$default-radius: 4px;